
LOG_LEVEL_CONSOLE=INFO
LOG_LEVEL_FILE=DEBUG

DB_DRIVER=ODBC Driver 18 for SQL Server
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=dw_olist
DB_TRUSTED_CONNECTION=yes
DB_TRUST_SERVER_CERTIFICATE=yes
DB_USER=
DB_PASSWORD=